#root {
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

#map {
  height: 60vh;
}

.leaflet-container {
  height: 100%;
  width: 100%;
}

.map-popup {
  width: "auto";
}

.pill {
  border: solid 1px gray;
  border-radius: 6px;
  background-color: lightgray;
  padding: 2px;
  white-space: nowrap;
  display: inline;
}

.leaflet-marker-icon {
  width: 30px;
  height: 30px;
}

/* Calendar date highlights */

.highlight {
  font-weight: 600;
  background-color: rgb(117, 91, 235);
  border-radius: 5px;
}